body {
  font-family: Mulish, roboto, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

#colors{
  width: 100%;
  height: 150px;
  border: 2px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.titleleft{
  flex-direction: flex-start;
}
.colors{
  display: flexbox;
  flex-flow: row wrap;
  justify-content: space-between;

}
.box{
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

